img{
    /* width: 50%; */
    margin: auto!important;

}

.card{
    width:40%;
    display: inline-flex;
    margin: 2%;
}

.links{
    display: block;
    margin: 5px auto;
}

.projects{
    /* margin-left: auto;
    margin-right: auto; */
}

.portfolio a{
    color: #00bc8c;  
}