
.half-size{
    font-size: 0.75em;
}

.githubIcon {
    background: url('../assets/images/GitHub-Mark-32px.png');
    height: 32px;
    width: 32px;
    display: block;
    /* Other styles here */
}

.fullName{
    display: none;
}

@keyframes fader {
    from {opacity: 1; width:90px;}
    to {opacity: 0; width: 0;}
}

@keyframes revealer {
    from {opacity: 0; width:0;}
    to {opacity: 1; width: 90px;}
}

.fade{
display: inline-block;
animation-name: fader;
animation-duration: 2s;
width:0
}


.parentFade{
    padding: 40px;
}

.parentFade:hover .fade{
    opacity: 1;
    width:90px;
    transition: 2s;
}

.parentFade:hover .preferName{
display: none;
}

.parentFade:hover .fullName{
display: block;
}

.shifter::selection .fade{
    opacity: 1;
    width: 90px
}


/* 
- not sure if can keep opaque with just css (doesn't look like it- probs need JS
- also need to figure out transformations (will help with


probably because of span
*/