img{
    /* width: 50%; */
    margin: auto!important;
}

.card{
    width:40%;
    display: inline-flex!important;
    margin: 2%;
}

.links{
    display: block;
    margin: 5px auto;
}

.projects{
    margin-left: auto;
    margin-right: auto;
}