img {
    margin: auto !important;
}

.card {
    width: 40% !important;
    /* width: 40vw !important; */
    /* height: 45vh !important; */
    height: 45% !important;
    background-color: #303030 !important;
    display: inline-flex !important;
}

.links {
    display: block;
    margin: 5px auto;
}

.projects {
    margin-left: auto;
    margin-right: auto;
}

.project-img {
    float: left;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: relative;
}

.descriptionClose {
    margin-right: 1%;
    color: #fff !important;
    text-shadow: none !important;
    font-weight: normal !important;
}

.projectDescription {
    /* background-color: transparent !important; */
    /* inheriting background-color (confirmed: this is attribute to target
from body; above line doesnt fix. Need to find way to give card 
transparent without adding weird white strip to top of page */
    width: 100%;
    position: absolute;
    top: 7%;
    left: 0%;
    /* ===============================================================
should really change coding so that it takes sane space as image: 
this (top & left positioning from ancestor) is kindof a band-aid
=============================================================== */
}

.descriptionTop {
    margin: 0;
    border: 1px solid gray;
}

.descriptionBG {
    background-color: transparent
}