.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pageBackground {
  background-attachment: fixed;
  background-size: cover;
  /* background-size: auto; */
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* border: 50px solid red; */
  /* position: relative; */
}

/* .pageContents{
  position: absolute;
} */